*{
  margin:0px; /* no edges spaces */
  padding:0px;
  box-sizing: border-box;
  font-family: unset;
}

body {
background-color: #bd71359c;
width:auto;
}
 nav {
width: 100%;
height:75px;
line-height: 75px;
padding: 0px 100px;
position: fixed;
z-index: 1;
border-bottom: 2px solid #795548;
 }

 nav .log{
   position: absolute;
    top: 0%;
    left:18%;
 }

 nav .logo {
font-size: 30px;
font-weight: bold;
letter-spacing: 1.5px;
 }

nav .logo p {
  color: #795548;
  float: left;
  width: 200px;

}

nav ul {
  float: right;
}
nav ul li {
  display: inline-block; /* making them next to each other */
  list-style: none;
  width: 100px;
  padding:0px 2px 0px 0px;
}

nav ul li:hover{
text-decoration: underline;
}

nav ul li a {
color: #795548;
font-weight: bold;
font-family:  unset;
text-decoration: none;
font-size: 15px;
padding: 0px 32px;
}

#bag{
    position: absolute;
    top:20px;
    right:230px;
    margin-left: 15px;
}
#fav{
position: absolute;
top:17px;
right:265px;
margin-left: 15px;}


.text{
  position:absolute;
  text-align: left;
  font-family:cursive;
  font-size: 20px;
  padding-left:230px;
  top:125px;
}
h1{
  background-color:#e8cfc299 ;
  width: 100%;
  position:absolute;
  text-align: left;
  font-size: 28px;
  padding-left:230px;
  top:89px;
  color:#996633;
  padding: 12px;
}

.item1{
border: 1px solid brown;
position: absolute;
 top: 28%;
 left: 60%;
 border-radius: 25px;
  cursor: pointer;
}
#it1{
  position: absolute;
   top: 73%;
   left: 61%;
   font-family:cursive;
   font-size: 18px;

}
.item2{
position: absolute;
border: 1px solid brown;
position: absolute;
 top: 28%;
 left: 20%;
 border-radius: 25px;
  cursor: pointer;
}
#it2{
  position: absolute;
   top: 73%;
   left: 21%;
   font-family:cursive;
   font-size: 18px;
}
.button {
  background-color:#79554847;
  width: 100%;
  border: none;
  color:black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.button:hover {
	background-color: #00000061;
	color:white;}


#nf{
  position: absolute;
   top: 21%;
   left: 33%;
   opacity: 0.8;

}

#profile{
  position: absolute;
   top: 21%;
   left: 38%;
   font-size: 23px;
}

#profile2{
  position: absolute;
  top: 58%;
  left: 10%;
  font-size: 23px;
  width: 300px;
  text-align: justify;
}

.imgprofile{
  position: absolute;
   top: 21%;
   left: 10%;
   width:300px;
   height:330px;
   border: 1px solid #795548;
}

.imgprofile2{
  position: absolute;
   top: 12%;
   left: 10%;
   width:300px;
   height:330px;
   border: 1px solid #795548;
}



.footer-content {
  background-color: #795548;
  position:fixed;
  bottom:0;
  left:0;
  width: 100%;
  height:11%;
}

.socials ul li  {
  display: inline-block; /* making them next to each other */
  width: 40px; 
  font-size:25px;
}

.twitter a {
    text-decoration: none;
    color: skyblue;
}

.facebook a {
    text-decoration: none;
    color: darkblue;
}

.instagram a {
    text-decoration: none;
    color: #e93465;
}


.footer-content p {
color: #bea396;
font-family: unset;


}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:250px;
  height: 310px;
  margin-bottom: 30px;
  position: relative;
  margin-left: 50px;

}

.card2 {
  margin:auto;
  width: 40%;
  height: auto;
  top: -95px;
}

.card3 {
  margin:auto;
  HEIGHT: 350PX;
}

.card , .card button {
  border-radius: 0 0 20px 20px;
}

.card img
{
  border-radius: 20px 20px 0 0;
  height: 200px;
}

.card a { 
  text-decoration: none;
  color: #000;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;

}

.items {
  padding: 20 px 10%;
  position: absolute;
  top: 180px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 10px 15%;
}

.items_2 {
  padding: 20 px 10%;
  position: absolute;
  top: 180px;
  width: 100%;
}

.items_3 {
  padding: 0 10%;
  position: relative;
  width: 100%;
}

.addbtn{
	
  position: absolute;
  top: 17%;
  right: 9%;
 transform: translate(-50%, -50%);
background: #79554847;
 color: black;
 font-size: 22px;
   padding: 9px 37px;
   border: #79554847 solid 1px;
   cursor: pointer;
}
.addbtn:hover {
 background-color: #00000061;
 color:white;
 
}


.btn_edit , .btn_delete {
  background-color:#79554847;
  width: 50%;
  border: none;
  color:black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  text-decoration: none;
}
.btn_edit {
  left: 0px;
  border-radius: 0 0 0 20px;
  
}

.btn_delete {
  right: 0px;
  border-radius: 0 0 20px 0;
  
}

.btn_edit:hover , .btn_delete:hover {
	background-color: #00000061;
	color:white;}




 .form-group {
   width: 80%;
   margin: auto;
  padding: 5px;
  font-size: 15px;

}

.title
{
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 0 0 10px #fff;
}


label 
{
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
  padding-left: 3px;;
}
.form-control {
  width: 100%;
  color: #fff;
  font-size: 20px;
  background-color: #bd9575;
  height: 45px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px #70665e;
}

.btns_div
{
  width: 380px;
  position: relative;
  margin-bottom: 25px;
}

.review-body
{
  height: 200px;
  width: 62%;
  position: absolute;
  top: 12%;
  left: 37%;
}

.review-list
{
  width: 50%;
  float: left;
}
.review-form
{
  width: 50%;
  float: right;
  position: relative;
}

.review-form form
{
  width: 80%;
  margin: 5px auto;
}


.review
{
  width: 100%;
  border: 1px solid #bd9575;
  border-radius: 5px;
  padding: 5px 0 5px 5px;
  box-shadow: 0 0 10px #70665e;
  text-align: justify;    
  margin-bottom: 30px;
  padding-bottom: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.review h3
{
  text-align: center;
  text-shadow: 0 0 5px #fff;
  margin-bottom: 5px;
}

.review h4
{
  text-align: center;
  text-shadow: 0 0 5px #FFF;
  margin-bottom: 3px;
  color: #000;
}

.review p
{
  width: 80%;
  margin: auto;
}

.review:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}